---
import AstroIcon from '../AstroIcon.astro';
import { MarkFavorite } from './MarkFavorite';
export interface FeaturedItemType {
  isUpcoming?: boolean;
  isNew?: boolean;
  url: string;
  text: string;
}

export interface Props extends FeaturedItemType {}

const { isUpcoming = false, isNew = false, text, url } = Astro.props;
---

<a
  class:list={[
    'group border border-gray-600 bg-wet-asphalt p-2.5 sm:p-3.5 block no-underline rounded-lg relative text-white font-regular text-md hover:border-slate-600 hover:text-slate-100 overflow-hidden',
    {
      'opacity-50': isUpcoming,
    },
  ]}
  href={url}
>
  <span class='relative z-20 text-white'>
    {text}
  </span>

  <!-- <MarkFavorite
    resourceId={url.split('/').pop()!}
    resourceType={url.includes('best-practices') ? 'best-practice' : 'roadmap'}
    client:load
  /> -->

  <span
    data-progress
    class='absolute bottom-0 left-0 top-0 z-10 w-0 bg-[#172a3a] transition-[width] duration-300'
  ></span>
</a>
