---
import { FavoriteRoadmaps } from './FavoriteRoadmaps';
---

<div
  class='min-h-auto relative min-h-[192px] border-b border-b-[#1e293c] sm:min-h-[281px]'
>
  <div
    class='container px-6 py-6 pb-14 text-left transition-opacity duration-300 sm:px-0 sm:py-20 sm:text-center'
    id='hero-text'
  >
    <h1
      class='mb-2 bg-gradient-to-b from-amber-50 to-purple-500 bg-clip-text text-2xl font-bold text-transparent sm:mb-4 sm:text-5xl'
    >
      Путеводители для Разработчиков
    </h1>

    <p class='hidden px-4 text-lg text-gray-400 sm:block'>
      <span class='font-medium text-gray-400'>roadmap.sh</span> - это сообщественная
      инициатива, направленная на создание путеводителей, руководств и другого образовательного
      контента, чтобы помочь разработчикам выбрать путь и направить свои учебные
      усилия. Этот ресурс был переведен на русский компанией "Гефест".
    </p>

    <!-- <p class='text-md block px-0 text-gray-400 sm:hidden'>
      Сообщество создает путеводители, руководства и статьи, чтобы помогать
      разработчикам расти в своей карьере.
    </p>

    <p class='text-md block px-0 text-gray-400 sm:hidden'>
      Этот ресурс был переведен на русский компанией "Гефест".
    </p> -->
  </div>
  <!-- <FavoriteRoadmaps client:authenticated /> -->
</div>
