---
import GridItem from '../components/GridItem.astro';
import SimplePageHeader from '../components/SimplePageHeader.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getRoadmapsByTag } from '../lib/roadmap';

const roleRoadmaps = await getRoadmapsByTag('lead-magnet');
const skillRoadmaps = await getRoadmapsByTag('skill-roadmap');
---

<BaseLayout
  title='Чек-листы для разработчиков'
  description={'Пошаговые гайды и пути для изучения различных инструментов или технологий'}
  permalink={'/roadmaps'}
>
  <SimplePageHeader
    title='Чек-листы для разработчиков'
    description='Пошаговые гайды и пути для изучения различных инструментов или технологий'
  />

  <div class='flex bg-gray-100 pb-14 pt-4 sm:pb-16 sm:pt-8'>
    <div class='container'>
      <div class='grid grid-cols-1 gap-0.5 sm:grid-cols-2 sm:gap-3'>
        {
          roleRoadmaps.map((roleRoadmap) => (
            <GridItem
              url={`/${roleRoadmap.id}`}
              isNew={roleRoadmap.frontmatter.isNew}
              title={roleRoadmap.frontmatter.title}
              description={roleRoadmap.frontmatter.description}
            />
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
