---
import { getFormattedStars } from '../lib/github';
import Icon from './AstroIcon.astro';

const starCount = await getFormattedStars('kamranahmedse/developer-roadmap');
---

<div class='border-b border-t bg-white py-6 text-left sm:py-16 sm:text-center'>
  <div class='container max-w-[600px]'>
    <h2 class='text-2xl font-bold sm:text-5xl'>Сообщество</h2>
    <p class='my-2.5 text-sm leading-relaxed text-gray-600 sm:my-5 sm:text-lg'>
      roadmap.sh - это <a
        href='https://github.com/search?o=desc&q=stars%3A%3E100000&s=stars&type=Repositories'
        target='_blank'
        class='font-medium text-gray-600 underline underline-offset-2 hover:text-black'
        >6-й проект с наибольшим числом звезд на GitHub</a
      > и посещается сотнями тысяч разработчиков каждый месяц.
    </p>

    <div
      class='mb-1.5 flex flex-col justify-start gap-2 sm:mb-0 sm:flex-row sm:justify-center sm:gap-3'
    >
      <a
        href='https://github.com/kamranahmedse/developer-roadmap'
        target='_blank'
        class='inline-flex items-center rounded-lg border border-black bg-white px-3 py-1.5 text-sm hover:bg-black hover:text-white'
      >
        <Icon icon='star' class='-ml-1 mr-1 fill-current' />

        <span class='lowercase'>{starCount}</span>
        <span class='ml-2 hover:block'>Звезды на GitHub</span>
      </a>

      <a
        href='https://discord.gg/cJpEt5Qbwa'
        target='_blank'
        class='pointer group relative inline-flex items-center rounded-lg border border-black bg-white px-3 py-1.5 text-sm hover:bg-black hover:text-white'
      >
        <Icon icon='discord' class='-ml-1 mr-2 h-[14px] fill-current' />
        Присоединиться на Discord
      </a>
    </div>
    <div class='flex flex-col items-center gap-4'>
      <p
        class='mt-2.5 text-sm leading-relaxed text-gray-600 sm:mt-5 sm:text-lg'
      >
        Этот ресурс был переведен на русский компанией "Гефест".
      </p>
      <a
        href='https://discord.gg/sP62uxQN'
        target='_blank'
        class='pointer group relative inline-flex items-center rounded-lg border border-black bg-white px-3 py-1.5 text-sm hover:bg-black hover:text-white'
      >
        <Icon icon='discord' class='-ml-1 mr-2 h-[14px] fill-current' />
        Присоединиться к Гефест
      </a>
    </div>
  </div>
</div>
