---
import YouTubeAlert from './YouTubeAlert.astro';

export interface Props {
  title: string;
  description: string;
  showYouTubeAlert?: boolean;
}

const { title, description, showYouTubeAlert = false } = Astro.props;
---

<div class='border-b bg-white pb-5 pt-6 sm:pb-10 sm:pt-12'>
  <div class='container'>
    {
      showYouTubeAlert && (
        <div class='mb-4 hidden sm:block'>
          <YouTubeAlert />
        </div>
      )
    }

    <h1 class='mb-1 text-3xl font-bold sm:mb-2 sm:text-5xl'>{title}</h1>
    <p class='text-sm text-gray-500 sm:text-lg'>{description}</p>
  </div>
</div>
